<% if admin? %>
<h1>Listing all customers</h1>
<div class="table-responsive">
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Username</th>
      <th>Phone number</th>
      <th>Date of birth</th>
      <th>Address</th>
      <th>Email</th>
	  <th>Avatar</th>
    </tr>
  </thead>
  <tbody>
       <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.userName %></td>
        <td><%= customer.phoneNum %></td>
        <td><%= customer.dob %></td>
        <td><%= customer.address %></td>
        <td><%= customer.email %></td>
		<td><%= image_tag(customer.attachment_url, :alt => "Image not found", :size => "50x50") %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
       <% end %>
  </tbody>
</table>
</div>
<%= link_to new_customer_path, class: 'btn btn-success' do%>
<i class="glyphicon glyphicon-plus"></i> New Customer
<% end %>
<% else %>
<h1> Only the admin has access to this page </h1>
<%= link_to 'Back to home', root_path %>
<% end %>