<h1>Listing bicycles</h1>

<table>
  <thead>
    <tr>
      <th>Model name</th>
      <th>Colour</th>
      <th>Second hand?</th>
      <th>Purchase cost</th>
      <th>Rent cost per day</th>
      <th>Frame</th>
      <th>Type of 	bicycle</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bicycles.each do |bicycle| %>
      <tr>
        <td><%= bicycle.modelName %></td>
        <td><%= bicycle.colour %></td>
        <td><%= bicycle.secondHand %></td>
        <td><%= bicycle.purchaseCost %></td>
        <td><%= bicycle.rentCostDay %></td>
        <td><%= bicycle.frame %></td>
        <td><%= bicycle.typeOfBicycle %></td>
        <td><%= image_tag(bicycle.image, :alt => "Image not found", :size => "100x50") %></td>
		<% if signed_in? and !admin?%>
		<td><%= link_to 'Show and comment', bicycle %></td>
		<% end %>
		<% if admin? %>
			<td><%= link_to 'Edit', edit_bicycle_path(bicycle) %></td>
			<td><%= link_to 'Destroy', bicycle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin? %>
<%= link_to 'New Bicycle', new_bicycle_path %>
<% end %>
